{{#if item.type}}

  <h3 class="item__sub-heading">Type</h3>

  <p>
    {{#is item.type '*'}}
      Any
    {{else}}
      <code>{{{join (map (split item.type '|') trim) '</code> or <code>'}}}</code>
    {{/is}}
  </p>

{{/if}}