@include b('main') {
  
  @include e('section') { 
    margin-bottom: config('rhythm.vertical') * 3; 
  };
  
};

@include b('item') {

  @include e('heading') {
    color: $color-item-heading-default;
    margin: config('rhythm.vertical') * 3 0 config('rhythm.vertical') 0;
    position: relative;
    font-size: 2em;
    font-weight: 300;
    float: left;
    transition: .2s ease;
  };
  
  @include e('name') { 
    color: inherit; 
    
  };

  @include e('example') { 
    margin-bottom: config('rhythm.vertical'); 
  };
  
  @include e('example', 'code') {
    position: static;
    @include card(1);
    word-wrap: break-word;
    line-height: 1.42;
  };
  
  @include e('code') {
    padding-right: 7em;
    clear: both;
    cursor: pointer;
    
    @include m('togglable') {
      
      &::after {
        @include absolute(null 0 -2.5em);
        opacity: 0;
        color: $color-item-code-toggle;
        font-size: 0.8em;
        transition: 0.2s ease-out;
      }
      
      @include on-event {
        
        &::after { opacity: 1; }
        
      };

      &[data-current-state="expanded"]::after { 
        content: 'Click to collapse.'; 
      }
      &[data-current-state="collapsed"]::after { 
        content: 'Click to expand.'; 
      }
      
    };
    
  };
  
  @include e('anchor') {
    
    font-size: 0.6em;
    color: $color-item-anchor;

    @include medium {
      @include absolute(null 101% 0.25em);
      opacity: 0;
      @include when-descendant-of('.item:hover') { opacity: 1; };
    }
    
  }
  
  @include e('deprecated') {
    display: inline-block;
    overflow: hidden;
    margin-top: 5.5em;
    margin-left: 1em;

    strong {
      float: left;
      color: $color-item-deprecated;
      text-transform: uppercase;
    }

    p {
      float: left;
      margin: 0;
      padding-left: 0.5em;
    }
    
  };
  
  @include e('type') {
    color: $color-item-type;
    text-transform: capitalize;
    font-size: 0.75em;
  };
  
  @include e('alias', 'aliased') {
    color: $color-item-alias;
    font-size: 0.8em;
  };
  
  @include e('sub-heading') {
    color: $color-item-subheading;
    margin-top: 0;
    margin-bottom: config('rhythm.vertical');
    font-size: 1.2em;
  };
  
  @include e('parameters') {
    width: 100%;
    margin-bottom: 1em;
    border-collapse: collapse;
    border: 1px solid $color-item-params-border;

    thead th {
      vertical-align: bottom;
      border-bottom: 1px solid $color-item-params-border;
      text-align: left;
      background-color: $color-item-params-heading-background;
      color: $color-item-params-heading-foreground;
    }

    tbody th { 
      text-align: left; 
    }

    td, 
    th {
      padding: 0.5em 1em;
      vertical-align: top;
    }
    
    tbody tr {
      border-bottom: 1px solid $color-item-params-border;
      
      @include last-child { 
        border-bottom: 0; 
      };
      
    }
    
  };
  
  @include e('status') {
    padding: .25rem .5rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    border-radius: 3px;
    color: $color-item-status;
    text-shadow: 1px 1px 3px $color-item-status-shadow;
    
    @each $status, $color in config('status') {
      
      @include m($status) {
        background-color: $color;
      };
      
    }
    
  };
  
  @include e('access') {
    text-transform: capitalize;
    color: $color-item-access;
    font-size: 0.8em;
  };
  
  @include e('since') {
    float: right;
    padding-top: 0.9em;
    color: $color-item-since;
    margin-bottom: 1em;
  };
  
  @include e('source-link') {
    @include absolute(1px 1px);
    background: $color-item-source-link-background;
    padding: 1em;
    z-index: z('default') + 1;
    color: $color-item-source-link-foreground;
  };
  
  @include e('cross-type') {
    background-color: $color-item-cross-type-background;
    color: $color-item-cross-type-foreground;
    padding: .5em 1em;
    font-family: font('code');
    font-size: 0.8em;
    border-radius: 3px;
  };
  
  @include e('description') {
    margin-bottom: config('rhythm.vertical');
    
    &li { 
      margin-bottom: 0; 
    }
    
    @include m('inline') {
      
      > * {
        display: inline-block;
        margin: 0;
      }
      
    };
    
  };
  
  @include e('code-wrapper') {
    position: relative;
    clear: both;
    margin-bottom: config('rhythm.vertical');
  };
  
  @include e('preview') {
    
    @include m('inline') {
      padding: 2px 4px;
      border: 1px solid $color-item-preview-inline-border;
      border-radius: 3px;
    };
    
    @include m('block') {
      @include size(2em);
      @include absolute(140% 0);
      top: calc(100% + 20px);
      border: 1px solid $color-item-preview-block-border;
      border-radius: 3px;
    };
    
  };
  
};

@include medium {
  
  tbody {

    > .item {

      @include e('paramater') {

        &:first-of-type > td {
          border-top: none;
        }

      };

    }

  }
  
};

@include b('example') {
  padding: 0;
  
  @include e('description') {
    
    padding: 1em;
    background: $color-item-example-background;
    color: $color-item-example-foreground;

    p { margin: 0; }
    
  };
  
  @include e('code') {
    
    &[class*="language-"] { 
      margin: 0; 
    }
    
  };
  
};